                                  /* Main style sheet - Abi Mowbray Allton */

/* Media queries */ 
/* design sizes: Laptop 1920 x 1080, tablet 768 x1024, mobile 360 x640 */

/* Font:    */
/* font-family: 'ebrima', sans-serif; */
/* font-family: 'magneto', cursive; */


body, i {
    font-family: 'ebrima', sans-serif !important;
	text-align: center;
}

h1 {
	font-family: 'magneto', cursive !important;
	font-size:3em;
}

h2{
	font-family: 'magneto', cursive !important;
	font-size:2.5em;
}

h3, h4, p{
	font-family: 'ebrima', sans-serif !important;
}	
	
}
a:link, a:visited {
	color: #663399;  /* rebeccapurple */
	text-decoration: none;
}

a:link:active, a:visited:active {
	color:	#696969;  /*dimgrey */
}	


nav {
    font-size: 1.5em;
} 
/* marks the current active page by putting a border around the navbar link */

#searchbox  {
	background-color: #f8f9fa; /*light*/
    display: inline-block;
    box-shadow: none;
  }

.button:hover, #navact:hover, #searchbox:hover{
	background-color: #696969;  /*dimgrey */
    color: #f8f9fa; /*light*/
	}
	
.button:active {
  background-color: #663399; /* rebeccapurple */
  color: #f8f9fa; /*light*/
  box-shadow: 0 5px #663399; /* rebeccapurple */
  transform: translateY(4px);
}	

/* BANNER: Welcome message; */
/*
.banner {
	margin: 5px auto;
	min-height: 400px;
	color: white;
	border-radius: 5px;
	background-image: url('../images/banner.jpg');
	background-size: 100% 100%;
}
*/
/*
.banner .welcome_msg {
	width: 45%;
	float: left;
	padding: 20px;
}
*/
/*
.banner .welcome_msg h1 {
	color: #B9E6F2;
	margin: 25px 0px;
	font-size: 2.4em;
	font-family: 'Averia Serif Libre', cursive;
}
*/
/*
.banner .welcome_msg p {
	color: white;
	font-size: 1.5em;
	line-height: 1.8em;
    font-family: 'Noto Serif', serif;
}
*/
/*
.banner .welcome_msg p span {
	font-size: .81em; 
	color: #3E606F;
}
*/
.banner .welcome_msg a {
	width: 30%;
	margin: 20px 0px;
	padding: 12px 15px;
	font-size: 1.2em;
	text-decoration: none;
}
.banner .welcome_msg a:hover {
	background: #374447;
}

/* BANNER: Login Form; */
/*
.banner .login_div {
	width: 50%;
	float: left;
}
.banner .login_div form {
	margin-top: 40px;
}
.banner .login_div form h2 {
	color: white;
	margin-bottom: 20px;
    font-family: 'Noto Serif', serif;
}
.banner .login_div form input {
	width: 60%;
	color: white;
	border: 1px solid white;
	margin: 10px auto;
	letter-spacing: 1.3px;
    font-family: 'Noto Serif', serif;
}
.banner .login_div form button {
	display: block;
	background: #006384;
	margin-left: 20%;
}
*/
 
.footer {
    font-size-adjust: auto;
    vertical-align: middle;
    text-align: center;
    align-content: center;
	border-top: 1px solid #696969;  /*dimgrey */
}
/* general body text and link styles */
.caption {
    line-height: 80%; 
    font: 1em 'Open Sans' sans-serif;
}

/* Contact page form */
/*.emailForm{ 
    margin-left:5px;
    margin-bottom: 20px;
    float:left;
    border-radius:15px;
    border: 2px solid #17a2b8;
    
}*/

/* ***** MEDIA QUERIES FOR GALLERY IMAGES AND HOVER EFFECTS****  */
/* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {
    .card-text{ font-size: 0.2rem;
}
     .nav{ font-size: 0.2rem;
     }
 }

/* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {
  .card-text{
      font-size: 0.4 rem;
     }
     .nav{ font-size: 0.4rem;
     }
}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
  .card-text{ font-size:0.6rem; 
    }
    .nav{ font-size: 0.6rem;
     }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .card-text{ font-size:1rem;
    }
    .nav{ font-size: 1rem;
     }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
 .card-text{ font-size:1.5rem;  
    }
    .nav{ font-size: 1.5rem;
     }
}



